@page "/demoform"
@using FRTForm.Pages;
@using FRTForm.Models
@using FRTForm.Settings
@using FRTForm.BlockTime.Settings
@using IFormProcessor = FRTForm.Utilities.IFormProcessor
<h3>DemoForm</h3>

<FormComponent AllSettings="AllSettings" Elements="_elements" 
               FormProcessor="_formProcessor" FormId="@_formId"
               OnCloseCallback="@(Close)" OnDeleteCallback="@(Delete)"
               OnEditCallback="@(Edit)" OnClickCallback="@(HandleClick)"
               OnSubmitCallback="@(HandleSubmit)"></FormComponent>

@code {

}
